# Text
# --
*               text=auto
*.Dockerfile    text
# *.Makefile      text filter=indentTab
*.awk           text
*.c             text
*.cpp           text
*.cxx           text
*.h             text
*.java          text
*.log           text
*.ps            text
*.py            text
*.rst           text
*.txt           text
Dockerfile      text

# ML
# --
*.dtd           text
*.json          text
*.xhtml         text
*.xml           text
*.yml           text
*.yaml          text

# TeX
# --
*.aux           text
*.cls           text
*.ind           text
*.inx           text
*.sty           text
*.tex           text
*.toc           text

# Bin
# --
*.[ot]tf        -text -diff
*.7z            -text -diff
*.a             -text -diff
*.bmp           -text -diff
*.class         -text -diff
*.dvi           -text -diff
*.gif           -text -diff
*.gpg           -text -diff
*.gz            -text -diff
*.jpg           -text -diff
*.jpeg          -text -diff
*.o             -text -diff
*.out           -text -diff
*.pdf           -text -diff
*.png           -text -diff
*.so            -text -diff
*.tar           -text -diff
*.zip           -text -diff

# LF
# --
*.sh            text eol=lf

# CRLF
# --
*.bat           text eol=crlf
*.cmd           text eol=crlf
